.root-wrap{
    background: #F3F2EF;
}

/*
-- AdNotice start --
*/
.add-notice-wrapper{
    width: 100%;
    height: 470px;
    border-radius: 15px;
    background: #000;
}
.content-section h1.ad-heading{
    color: #FFF;
    font-family: inherit;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.content-section p.ad-sub-text{
    color: #C4C4C4;
    font-family: inherit;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.38px;
}
.content-section button{
    width: 136px;
    height: 42px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    background: #5D6DFD;
}
img.postion-absolute.img-ad-banner {
    width: 100%;
    top: -15px;
    height: 26rem;
}

/*
-- AdNotice End --
*/

/*
-- SearchBar Start --
*/
.searchbar-wrapper .search-field{
    border-radius: 7px;
    width: 100%;
    height: 55px;
    flex-shrink: 0;
    border: 0;
    padding-left: 29px;
}
.tabber-wrap {
    display: flex;
    margin-left: 23px;
}
.tabber {
    position: relative;
    z-index: 0;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: initial;
}
.tabber-wrap .tabber input[type=radio] {
    display: none;
}
.tabber-wrap .tabber label {
    padding: 0.3rem 0.85rem;
    height: 55px;
}
input[type="radio"]:checked + label {
    background: #000;
    border-radius: 6px;
}
.tabber-wrap .tabber i {
    font-size: 30px;
}
.tabber-wrap .tabber i.active {
    color: #fff;
}
/*
-- SearchBar End --
*/


/*
-- BodyList start --
*/
.list-item-wrapper .list-card{
    width: 623px;
    height: 485px;

    border-radius: 12px;
    border: 1px solid #FFFDFD;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.list-item-wrapper .img-brand-logo{
    display: flex;
    justify-content: right;
    align-items: end;
}
.list-item-wrapper .img-brand-logo img{
    width: 11rem;
}
/*
-- BodyList end --
*









/*
-- BASE start --
*/
.postion-absolute{
    position: absolute !important;
}
.postion-relative{
    position: relative !important;
}
/*
-- BASE End --
*/